$font-stack: Helvetica, sans-serif;
$body-bg: #e3ecf2;
$star: #feb92c;
$black: #000;
$light-gray: #efefef;
$gray: #ededed;
$med-gray: #ddd;
$dark-gray: #666;
$white: #fff;
$blue: #0296c4;
$light-blue: #009ecc;
$dark-blue: #116399;
$cards-bg: #e3ecf2;
$error: #dd2c00;
// Screen Sizes
$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
